# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
.env/
*.env

# Data and temp files
vector_store/
*.sqlite3
*.db
*.log
*.tmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other
*.bak
*.swp
*.swo
*.sw